

<!--This is the main menu-->

  <mat-card class="mat-card">
    <mat-card-header>
      <div mat-card-avatar class=""></div>
      <mat-card-title>Hoofdmenu</mat-card-title>
    </mat-card-header>

    <mat-card-content class="mat-card-content" style="width: 80%; ">

        <a mat-raised-button class="menu-nav-button" routerLink="/bestellingen" routerLinkActive="active">Bestellingen</a>
      <br><br>
        <a mat-raised-button class="menu-nav-button" routerLink="/reserveringen" routerLinkActive="active">Reserveringen</a>
      <br><br>
        <a mat-raised-button class="menu-nav-button" routerLink="/overzichten" routerLinkActive="active">Overzichten</a>
      <br><br>
        <a mat-raised-button class="menu-nav-button" routerLink="/gegevens" routerLinkActive="active">Gegevens</a>
      <br><br>
    </mat-card-content>

  </mat-card>



