
<div>
  <input type="button" value="CPTURE" (click)="captureScreen()"/>
</div>
<mat-card class="example-card" id="contentToConvert">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Bon Restaurant Excellent Taste</mat-card-title>

  </mat-card-header>

  <mat-card-content>
<!--    tafelnummer-->
    <!--<p class="text" *ngFor="let item of items | async">-->
      <!--    {{item.name}} <p> -->
     <p>Tafel: 5</p>
    <p>Datum: 12-04-2023</p>
      <p>Tijd:15:29</p>
    <p>2x  Koffie</p><p>2.00  4.00</p>
    <p>3x  Broodje Kaas</p><p>1.50  4.50</p>
      <!--datum-->
<!--    Tijd-->
<!--    -->
<!--    Bestelde producten  Prijs Samengerekend prijs-->
<!--    Bestelde producten  Prijs Samengerekend prijs-->
<!--    Totaalprijs-->
<!--    ContantBetaalt-->
<!--    Terug-->
  </mat-card-content>
  <mat-card-actions>

  </mat-card-actions>
</mat-card>
